.flex {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  margin-left: 20vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.flex h1 {
  margin-bottom: 0;
}

.flex p {
  margin-top: 2px;
  font-weight: 400;
  font-size: 14px;
}

.inputan {
  margin-top: 6px;
}

.inputan p {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 14px;
}

.lorem {
  color: rgba(0, 0, 0, 0.8);
}

.flex-b {
  display: flex;
  margin-top: 5vh;
}

.resMsg {
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 2px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.resMsg svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 10px;
}

.fail {
  background-color: red;
}

.success {
  background-color: green;
}

.kanan {
  width: auto;
  height: auto;
  background-color: rgb(2, 76, 212);
  padding: 10px 40px 10px 40px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputan p {
  font-weight: 600;
}

.or-log p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: 12px !important;
}

.pemisah {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 1px;
  margin-top: 20px !important;
}

.inputan input {
  width: 97.5%;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.flex button {
  margin-top: 2vh;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.flex button:hover {
  background-color: rgb(2, 76, 212);
}

.flex button {
  background-color: rgb(0, 89, 255);
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.top-margin {
  margin-top: 20px !important;
}

.provider {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  max-width: 60%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-out;
  flex-grow: 1;
}

.provider:hover {
  transform: scale(1.02);
}

.provider h4 {
  margin: 0 !important;
  padding: 0;
  font-weight: 700;
}

.provider-g {
  color: rgb(0, 89, 255);
}

.provider-f {
  background-color: rgb(0, 89, 255);
  color: #fff;
  border: rgb(0, 89, 255);
}

.provider-git {
  background-color: black;
  color: #fff;
}

.flex-bawah {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 228px;
  height: max-content;
  left: 134px;
  top: 99px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.card:hover{
  transform: scale(1.02)
}

.card img{
  max-width: 100%;
}


.card h5,p{
  margin: 0;
}

.tulisan p{
  font-size:14px;
  margin-top: 2px;
}

.tulisan h5{
  font-size:16px;
}

.tulisan{
  margin: 8px;
  /* margin: 2px; */
}

.description{
  color: rgba(0, 0, 0, 0.8);
}

.t-judul{
  font-size:24px !important;
}